@use 'sass:map';
@use 'sass:string';

$place: require('./test/data/async.js');
.splash-async {
    $bg: map.get($place, image);
    background-image: url(string.unquote($bg));
}

.splash-async-2 {
    $bg: require('./test/data/async', image);
    background-image: url(string.unquote($bg));
}
