@use 'sass:map';
@use 'sass:string';

$place: require('./test/data/async.js', $quotes: false, $resolveFunctions: true);
.splash-async {
    $bg: map.get($place, image);
    background-image: url($bg);
}

.splash-async-2 {
    $bg: require('./test/data/async', image, $resolveFunctions: true);
    background-image: url(string.unquote($bg));
}
